<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>

<div id = "clientProfile">
    <h2>My profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>

<div id = "servicesMenu">
   <h3 th:replace="~{fragments :: manicureDescription}" th:if = "${manipedi.equals('manicure')}" >Manicure?</h3>
    <h3 th:replace="~{fragments :: manicureDescription}" th:if = "${manipedi.equals('pedicure')}" >Pedicure?</h3>

    <th:block>
        <table>
            <thead>
            <tr>
                <th></th>
            </tr>
            <tr th:each="treatment : ${appropriateFacials}">
                <td th:text="${treatment}"></td>
            </tr>
            </thead>
        </table>
    </th:block>
</div>
</body>
</html>